 body{ 
	font-size:14px;
	background: url(../images/wx_background.jpg) no-repeat;
	background-size:cover;
}
#container{
    width: 40%;
    height: 500px;
    border: 1px solid #C0C0C0;
    margin:80px auto;
    background-color:#404040;
}
#d_top{
	font-weight:800;
}
#d_bottom{
	width:100%;
	height:456px;
	background-color:#F0F0F0;
	z-index:1;
	padding:2px 2px;;
}
#content{
	width:100%;
	height:450px;
	background-color:#FFFFFF;
}
.d_blow{
	width:100%;
	height:400px;
	position:relative;
	padding-top:60px;
	padding-left:5px;
	padding-right:5px;

}
#blow_persons{
	overflow-y:auto;
	overflow-x:hidden;
	width:100%;
	height:390px;
}
 #people{
 width:100%;
 height:400px;
border-bottom: 1px solid #292c33;
}
.delect{
	position:absolute;
	left:20px;
	width:20px;
	height:20px;
    background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}
.list_min_chat{
    position:relative;
	width:600px;
	height:40px;
	margin-top:5px;
}

.list_min_chat:hover{
	background-color:#787b87;
}

.list_min_chat_avatar{
	position:absolute;
	left:60px;
	width:40px;
	height:40px;
	float: left;
	margin-left: 0px;
}
.list_min_chat_avatar img{
	display:block;
	width: 40px;
	height: 40px;
	border-radius: 2px;
}

.list_min_chat_avatar3{
	position:absolute;
	top:-0px;
	left:60px;
	width:40px;
	height:40px;
}
.list_min_chat_avatar3 img{
	width: 40px;
	height: 40px;
	border-radius: 2px;
}
.list_min_chat_info{
	position:absolute;
	top:10px;
	left:120px;
	overflow: hidden;
	margin-left:20px;
}
.list_min_chat_info h3{
	margin: 0px; 
	font-weight: 400;
	font-size: 13px;
	color: #fff;
	line-height: 20px;
}
.list_min_chat_info h3 span {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.list_min_chat_info p{
	margin: 0px;
	color: #989898;
	font-size: 13px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 20px;
}
.list_min_chat_ext{
	float:right;
	text-align: right;
}
.list_min_chat_ext p{
	margin: 0;
	height: 19px;
	line-height: 1.5;
	color: #6b6f7c;
	font-size: 13px;
	text-align: right;
	
}
.blow_button1{
	position:absolute;
	top: 20px;
	left:0px;
	width:100%;
	height:60px;
}
.quanxuanTEXT{
	position:absolute;
	top: 0px;
	left:645px;
	font-size: 20px;
	color:#fff;
}
.blow_button_delect{
	position:absolute;
	top: 0px;
	left:130px;
	width:100px;
	height:30px;
}
.blow_button_add{
	position:absolute;
	top: 0px;
	left:300px;
	width:100px;
	height:30px;
}
.blow_button_people{
	position:absolute;
	top: 0px;
	left:620px;
	width:20px;
	height:20px;
    background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}
#file{
	 width:100%;
 height:400px;
 
display:none;
border-bottom: 1px solid #292c33;
}  
.blow_button2{
	position:absolute;
	top: 20px;
	left:0px;
	width:100%;
	height:60px;
}
.blow_button_send{
	position:absolute;
	top: 0px;
	left:60px;
	width:100px;
	height:30px;
}
.blow_button_download{
	position:absolute;
	top: 0px;
	left:560px;
	width:100px;
	height:30px;
}
.FileTable{
	border:3px;
	width:300px;
	color:white;
	margin:0px;
	width:90%;
    border:solid 1px #eee;
}
.FileTable tr {
		line-height: 30px;
	}
.FileTable tr td.item {
		border:solid 1px #333;
		padding:3px;
	}
.FileTable tr th {
		border:solid 1px #333;
		background-color:#404040;
	}
.file_body{
	position:absolute;
	top: 70px;
	left:60px;
	width:666px;
	height:300px;
	overflow:auto;
}
/* .file_body:hover{
	background-color:#787b87;
} */
.file_image{
	width:40px;
	height:40px;
	float: left;
	margin-left: 0px;
}
.file_image img{
	display:block;
	width: 40px;
	height: 40px;
	border-radius: 2px;
}
.file_name{
	overflow: hidden;
}
.file_name_h3{
	margin: 0px; 
	font-weight: 400;
	font-size: 13px;
	color: #fff;
	line-height: 20px;
}
.file_name_span{
	display: inline-block;
	vertical-align: top;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}